{% extends 'base.html' %} {% block content%}

<div class="photo-item">
    <img src="/static/images/Donation more.jpg" alt="" class="photo-image">
</div>

<div class="container-fluid ">
  <p style="color: #0d8dbb" > <em>
    Street children can break out of generational poverty and become respected
    members of the society with your help. With your help we can get our children
    off the streets and into safe spaces that they should be in.</em>
  </p>

  <hr>

  <h3 class="mt-5"> <strong>Make a secure donation using the details below:</strong></h3>
  <p>Bank Name</p>
  <p>Account Name</p>
  <p>Account number</p>

  <!-- <h3>OR</h3>
  <p>Make a donation using our payment partner</p>
  <a class="btn btn-bg btn-color" href="" role="button">Make a donation</a> -->
</div>
{% endblock %}
