<!-- footer -->

<footer id="footer" class="py-5 px-5 my-5 container-fluid">
  <div class="row justify-content-center">
    <div class="col-6 col-md-2 mb-3">
      <h6><a href="/" style="color: #fff">StreetKidsCan</a></h6>
      <ul class="nav flex-column">
        {% comment %} <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-reset">Address</a>
        </li> {% endcomment %}
        <li class="nav-item mb-2">
          <a href="#" class="nav-link p-0 text-reset">0809 339 8866</a>
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'contact' %}" class="nav-link p-0 text-reset"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>

    <div class="col-6 col-md-2 mb-3">
      <h6>Related Links</h6>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a href="{% url 'whoweare' %}" class="nav-link p-0 text-reset"
            >Who We Are</a
          >
        </li>
        <!-- how do i make this jump to the particular section of the page? -->
        <li class="nav-item mb-2">
          <a href="{% url 'whoweare' %}" class="nav-link p-0 text-reset"
            >Mission and Vision</a
          >
        </li>
        <li class="nav-item mb-2">
          <a href="{% url 'programs' %}" class="nav-link p-0 text-reset"
            >Programs</a
          >
        </li>
        <!-- how do i make this jump to the particular section of the page? -->
        {% comment %} <li class="nav-item mb-2">
          <a
            href="http://127.0.0.1:8000/whoweare/#our_advisory_board"
            class="nav-link p-0 text-reset"
            >Our Advisory Board</a
          >
        </li> {% endcomment %}
        <li class="nav-item mb-2">
          <a href="{% url 'donate' %}" class="nav-link p-0 text-reset"
            >Make a donation</a
          >
        </li>
      </ul>
    </div>

    <div class="col-md-5 offset-md-1 mb-3">
      <form
        action="https://streetkidscan.us21.list-manage.com/subscribe/post?u=6b0c48ee71d6a8ff4ab98b728&amp;id=0d5d11dc3f&amp;f_id=0053a6e1f0"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <h6>Receive updates on upcoming events and activities.</h6>

          <div class="mc-field-group">
            <input
              type="email"
              value=""
              name="EMAIL"
              class="required email form-control"
              id="mce-EMAIL"
              required
              placeholder="Email address"
            />
            <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
          </div>

          <div id="mce-responses" class="clear foot">
            <div
              class="response"
              id="mce-error-response"
              style="display: none"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display: none"
            ></div>
          </div>

          <!--  do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input
              type="text"
              name="b_6b0c48ee71d6a8ff4ab98b728_0d5d11dc3f"
              tabindex="-1"
              value=""
            />
          </div>

          <div class="optionalParent">
            <div class="clear foot">
              <input
                type="submit"
                value="Subscribe"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="btn btn-light mx-0"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</footer>

<!-- copyright -->
<p>© Copyright 2023 StreetKidsCan</p>

<!-- Script -->
<script
  type="text/javascript"
  src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"
></script>
<script type="text/javascript">
  (function ($) {
    window.fnames = new Array();
    window.ftypes = new Array();
    fnames[0] = "EMAIL";
    ftypes[0] = "email";
    fnames[1] = "FNAME";
    ftypes[1] = "text";
    fnames[2] = "LNAME";
    ftypes[2] = "text";
    fnames[3] = "ADDRESS";
    ftypes[3] = "address";
    fnames[4] = "PHONE";
    ftypes[4] = "phone";
    fnames[5] = "BIRTHDAY";
    ftypes[5] = "birthday";
  })(jQuery);
  var $mcj = jQuery.noConflict(true);
</script>
