{% extends 'base.html' %} {% block content%}

<div class="photo-item">
  <img src="/static/images/Volunteering.jpg" alt="" class="photo-image">
</div>

<div class="px-4 text-center py-5">
  <div class="col-lg-8 mx-auto pt-4 border-bottom">
    <h1>Who We Are Looking For</h1>
    <p>
      We are a volunteer led organisation and our ability to impact and achieve
      our target is dependent on the hard work of our volunteers who dedicate
      their time and effort to our cause. We have various opportunities to
      volunteer both physically at our outreach events and virtually.
    </p>
  </div>
</div>

<div class="px-4 text-center yellow-section py-5">
  <div class="col-lg-8 mx-auto pt-4">
    <h4 class="mb-5 mt-3">
      If you would like to become a part of our community of volunteers around
      the world, please fill out the form below.
    </h4>
    <!-- row-cols-1 row-cols-md-2 -->
    <div class="row g-4">
      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Adhoc Volunteers</h5>
            <p class="card-text">
              As an adhoc volunteer you would - I am assuming this would refer
              to support staff that would assist on an adhoc basis at events
              etc.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Informal Educators</h5>
            <p class="card-text">
              This will suit individuals who love to teach and have valuable
              skills they can share or pass on to the children. Our learning
              method is unconventional so it will not be classroom style
              teaching but rather engaging the children in variety of activities
              such as puzzles, reading, brain teasers, arts and crafts etc.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Mentors</h5>
            <p class="card-text">
              As a mentor, you will need to be able to attend our outreach
              events physically to meet and engage with children in our program
              at least once a month.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Counsellors</h5>
            <p class="card-text">
              Qualified professionals who are able to offer counselling services
              to children dealing with a wide range of life issues including
              drug abuse.
            </p>
          </div>
        </div>
      </div>

    </div>

    <a
      class="btn btn-bg btn-color mt-5 btn-hover"
      href="https://form.jotform.com/230355506032344"  target="_blank"
      role="button"
      >Become a Volunteer </a
    >
  </div>
</div>

<div class="px-4 text-center py-5">
  <div class="col-lg-8 mx-auto pt-2">
    <h3>Become a Partner</h3>
    <p>
      We welcome organisations who are looking to fulfil their CSR activities
      through our foundation. We are also looking for partners who can provide
      us with their spaces and resources to carry out our outreach programs.
    </p>
  </div>

  <a class="btn btn-bg btn-color mt-4" href="https://form.jotform.com/230354751657358" target="_blank" role="button"
    >Become a Partner</a
  >

</div>

{% endblock %}
