{% extends 'base.html' %} {% block content%}

<div class="prog-header prog-gradient d-flex justify-content-center align-items-center">
    <!-- <img src="/static/images/Donation more.jpg" alt="" class="photo-image"> -->
    <h1 style="color: white;">MOBILE LEARNING OUTREACH</h1>
</div>

<div class="container-fluid">
    <div class="col-lg-8 mx-auto">
        <p>The Mobile Learning outreach is our flagship program which is aimed at nurturing and harnessing talents out of street children through non-traditional educational activities. We have designed a “mobile school” which will be placed in our core target areas where children will be engaged by volunteers in extracurricular activities with the aim of developing each child’s unique abilities and empowering them with the right attitude to seek a better life for themselves. We partner with both public and private sector organisations who provide us with access to their spaces to host our mobile learning programs.</p>
    </div>
    
</div>

<div>
    <h1>EVENTS</h1>
</div>

<!-- to be written back when events are available -->

<!-- <div class="container-fluid" id="event">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img class="w-100" src="/static/images/target2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Event Name.</h5>
              <p class="card-text">Brief description of what the event was about. </p>
            </div>
            <a href="{% url 'gallery' %}"> View Photos.</a>
            <div class="card-footer">
                <small class="text-muted">Date of Event.</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img class="w-100" src="/static/images/target2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Event Name</h5>
              <p class="card-text">Brief description of what the event was about.</p>
            </div>
            <a href="{% url 'gallery' %}"> View Photos.</a>
            <div class="card-footer">
                <small class="text-muted">Date of Event.</small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img class="w-100" src="/static/images/target2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Brief description of what the event was about.</p>
              </div>
              <a href="{% url 'gallery' %}"> View Photos.</a>
              <div class="card-footer">
                  <small class="text-muted">Date of Event.</small>
              </div>
            </div>
          </div>
      </div>
</div> -->




{% endblock %}
