{% extends 'base.html' %} {% block content%}

<div class="prog-header prog-gradient d-flex justify-content-center align-items-center">
    <!-- <img src="/static/images/Donation more.jpg" alt="" class="photo-image"> -->
    <h1 style="color: white;">MENTORING AND COUNSELLING</h1>
</div>

<div class="container-fluid">
    <!-- <div class="col-lg-6 mx-auto"></div> -->
    <p>Street children are often exposed to complex and difficult circumstances from early-on in life and these experiences could have a lasting negative impact on their mental health and ability to thrive and function well in the mainstream society. As a result of this, they are at a higher risk of substance abuse as a way to deal with the hardship that they face. Through our mentoring and counselling program, we work directly with qualified therapists and counsellors in their respective fields to provide support sessions to help the children tackle their addictions and learn better coping mechanisms, amongst other things.</p>

    <p> <em> “A recent survey found that 12.2% of street children in Nigeria dealt drugs and a further 60.3% were addicts themselves.” </em></p>

   <hr>
</div>


<div>
    <h1>EVENTS</h1>
</div>


<!-- to be written back when events are available -->
<!-- <div class="container-fluid" id="event">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img class="w-100" src="/static/images/target2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Event Name.</h5>
              <p class="card-text">Brief description of what the event was about. </p>
            </div>
            <a href="{% url 'gallery' %}"> View Photos.</a>
            <div class="card-footer">
                <small class="text-muted">Date of Event.</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img class="w-100" src="/static/images/target2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Event Name</h5>
              <p class="card-text">Brief description of what the event was about.</p>
            </div>
            <a href="{% url 'gallery' %}"> View Photos.</a>
            <div class="card-footer">
                <small class="text-muted">Date of Event.</small>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card h-100">
              <img class="w-100" src="/static/images/target2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Event Name</h5>
                <p class="card-text">Brief description of what the event was about.</p>
              </div>
              <a href="{% url 'gallery' %}"> View Photos.</a>
              <div class="card-footer">
                  <small class="text-muted">Date of Event.</small>
              </div>
            </div>
          </div>
      </div>
</div> -->

{% endblock %}
