{% extends 'base.html' %} {% block content%}
<div
  class="prog-header prog-gradient d-flex justify-content-center align-items-center"
>
  <!-- <img src="/static/images/Donation more.jpg" alt="" class="photo-image"> -->
  <h1 style="color: white">UPCOMING EVENTS</h1>
</div>

<div class="container-fluid py-3">
  <div class="col-lg-8 mx-auto">
    <p>
      <em
        >This page contains information on our upcoming events and will be
        updated from time to time. More information on past events can be found
        on the program specific pages.</em
      >
    </p>
  </div>
</div>

<div class="container-fluid" id="event">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img
          class="w-100"
          src="static/images/outreach_event/outreach_event_flyer.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <!-- <h5 class="card-title">Event Name.</h5> -->
          <!-- <p class="card-text">Brief description of what the event was about. </p> -->
        </div>
        <a
          href="https://form.jotform.com/230355124482349"
          target="_blank"
          class="pb-2"
        >
          Volunteer here!</a
        >
        <div class="card-footer">
          <small class="text-muted">
            <strong>Date - 9th April 2023</strong>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content%}
