{% extends 'base.html' %} {% block content%}

<div class="container-fluid p-0 mt-0 blue-section">
  <div class="row">
    <div class="programs_item col-md-6 col-sm-12">
      <img src="/static/images/Volunteer Page.jpg" alt="" class="programs_image">
    </div>
      <div class="col-md-6 col-sm-12 d-flex justify-content-center align-items-center" id="who_we_are">
          <h1>WHO WE ARE</h1>
      </div>
      
  </div>
 
</div>
    <!-- who we are -->
    <section class="white-section">
      <div class="px-4 py-5 my-5">
        <div class="col-lg-8 mx-auto">
          <p class="mb-4 fst-italic"><strong>
            Street Kids Can is a volunteer led organization committed to
            nurturing and unlocking the skills and talents of street children
            through interactive and unconventional educational resources and
            activities to boost their self-esteem, empower them and provide an
            opportunity for them to break out of generational poverty and take
            charge of their lives for a brighter future.</strong>
          </p>
        </div>
      </div>
    </section>

    <!-- our mission and vision-->
    <section class="yellow-section" id="mission_vision">
      <div class="container">
        <div class="row mx-auto">
          <div class="align-items-center py-5 my-5 mx-auto col-lg-5">
              <h2>Our Mission</h2>
              <p>
                To empower street children to find their path out of poverty by
                nurturing their strengths and talents through informal educational
                activities.
              </p>
          </div>

          <div class="align-items-center py-5 my-5 mx-auto col-lg-5">
            <h2>Our Vision</h2>
            <p>
              We envision a future where every street child is equipped with
              skills and resources to break free from generational poverty and
              achieve sustainable development.
            </p>
          </div>
        </div>
      </div>

    </section>
  
    <!-- our values -->
    
    <section class="white-section" id="our_values">
      <div class="container">
        <div class="py-5 my-5">
          <h2>Our Values</h2>
          <div class="text-start mx-auto d-inline-flex mt-3 row g-5">
            <div class="d-block align-items-center col-md-3 col-sm-6"> 
              <div class="d-flex justify-content-center"><iconify-icon icon="icon-park-outline:oval-love" style="color: #ff4552; font-size: 160px;"></iconify-icon></div>
              <p class="d-flex justify-content-center">Empathy</p>
            </div>
            <div class="d-block align-items-center col-md-3 col-sm-6"> 
              <div class="d-flex justify-content-center"><iconify-icon icon="arcticons:sbb-inclusive" style="color: #fdbf00; font-size: 160px;"></iconify-icon></div>
              <p class="d-flex justify-content-center">Inclusiveness</p> 
            </div>
            <div class="d-block align-items-center col-md-3 col-sm-6"> 
              <div class="d-flex justify-content-center"><iconify-icon icon="healthicons:community-meeting-outline" style="color: #0d8bbb; font-size: 160px;"></iconify-icon></div>
              <p class="d-flex justify-content-center">Community</p> 
            </div>
            <div class="d-block align-items-center col-md-3 col-sm-6"> 
              <div class="d-flex justify-content-center"><iconify-icon icon="fluent:equal-circle-24-regular" style="color: #ff4552; font-size: 160px;"></iconify-icon></div>
              <p class="d-flex justify-content-center">Equity</p> 
            </div>
          </div>

          <div class="text-start mx-auto d-inline-flex my-3 row g-5">
            <div class="d-block align-items-center col-md-4 col-sm-6"> 
              <div class="d-flex justify-content-center"><iconify-icon icon="mdi:help-outline" style="color: #fdbf00; font-size: 160px;"></iconify-icon></div>
              <p class="d-flex justify-content-center">Empowerment</p> 
            </div>
            <div class="d-block align-items-center col-md-4 col-sm-6"> 
              <div class="d-flex justify-content-center"><iconify-icon icon="uit:chart-growth" style="color: #0d8bbb; font-size: 160px;"></iconify-icon></div>
              <p class="d-flex justify-content-center">Sustainability</p> 
            </div>
            <div class="d-block align-items-center col-md-4 col-sm-6"> 
              <div class="d-flex justify-content-center"><iconify-icon inline icon="fluent:target-arrow-16-regular" style="color: #ff4552; font-size: 160px;"></iconify-icon></div>
              <p class="d-flex justify-content-center">Accountablity</p> 
            </div>
          </div>
          </div>
          
        </div>
      </div>
    </section>
    
    <!-- Our Target -->
    <section class="yellow-section" id="our_target">

      <div class="container-fluid">
        <div class="row d-flex flex-row-reverse align-items-center">
      
          <div class="col-md-5 ">
         
            <h2 class="target-heading">Our Target</h2>
          </div>
        
          <div class="col-md-6 text-start">
         
            <p>
              By the year 2032, we aim to have impacted 10,000 street kids across
              Nigeria and successfully re-integrate them into the mainstream society
              armed with the necessary mental and vocational skills to thrive and live
              independently off the streets.
            </p>
            <p>
              We envision our program will empower them
              and help them break away from generational poverty through provision of
              informal education and life skills that will prepare them for
              sustainable development and a brighter future.
            </p>
          </div>
        </div>
      </div>
  
    </section>

    <!-- our approach -->
    <section class="white-section" id="our_approach">

      <div class="container-fluid">
        <div class="row d-flex align-items-center">
          <div class="col-md-5">
            <h2 class="approach-heading">Our Approach</h2>
          </div>
          
          <div class="col-md-6 text-start" style="text-align: justify;">
            <p>  We believe a positive self-image is at the core of street kids’ ability to successfully reintegrate into mainstream society. Unfortunately, the complex circumstances leading to these kids being on the streets often leaves them feeling unworthy. </p>

            <p> As a result, our programs are designed to nurture and unlock the strengths and talents of each child to help them regain their self-esteem and hopes of a brighter future. </p>

            <p> Our programs are designed to facilitate self-discovery and nurture hidden talents through informal education and recreational activities. Children in our programs will spend time each week participating in activities varying from mobile learning to therapy and counselling sessions as well as vocational and skills acquisition programs based on their individual interests.</p>

            <p> Our volunteers and partners will dedicate time each week to facilitate the programs alongside our public and private sector partners who provide us with access to their spaces and resources.</p>
          </div>
      
        </div>
      </div>
    </section>

    <!-- Leadership -->
   
    <section class="yellow-section" id="our_leadership">
        <div class="container py-5">
          <h2>Leadership</h2>
        <div>
        <div>
          <div> 
            <img class="leadership-image mx-auto" src="/static/images/OYINDA HEADSHOT 2023.jpg" alt="headshot Oyinda Kazeem">
          </div>
          <h5 class="mt-2 p-1">Oyinda Kazeem</h5>
          <p>Founder, Street Kids Can</p>
        </div>
    </section>

    <!-- Advisory Board -->
    <section class="white-section my-5" id="our_advisory_board">
      <h2>Advisory Board</h2>

      <div class=" container-fluid py-2 row g-5">

        <div class="col-lg-3 col-sm-4">
          <div class="leadership-image mx-auto"></div>
          <h5 class="mt-2 p-1">Omolara Olanrewaju</h5>
          <p>Proprietress, Mollys Schools</p>
        </div>

        <div class="col-lg-3 col-sm-4">
          <div class="leadership-image mx-auto"></div>
          <h5 class="mt-2 p-1">Moni Onikoro</h5>
          <p>Executive Director, MOB Integrated Services</p>
        </div>

        <div class="col-lg-3 col-sm-4">
          <div class="leadership-image mx-auto"></div>
          <h5 class="mt-2 p-1">Oyinkansola Edet </h5>
          <p>Digital Access Programme Officer, Commonwealth and Development Office</p>
        </div>

        <div class="col-lg-3 col-sm-4">
          <div class="leadership-image mx-auto"></div>
          <h5 class="mt-2 p-1">Adebayo Kazeem</h5>
          <p>Head of West Africa, Convergence Partners</p>
        </div>

        <div class="col-lg-3 col-sm-4">
          <div class="leadership-image mx-auto"></div>
          <h5 class="mt-2 p-1">Olatunji Fafemi</h5>
          <p>Trader, BCP Securities</p>
        </div>

      </div>
    </section>
    
    {% endblock %}